/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body{
	   font-family:vardena; 
	   font-size:12px; 
	   line-height:18px; 
	   color:#666666;
   }
.templete{width:1000px; margin:0 auto;}
.clear{overflow:hidden;}
   
.headersection{
	background:#81201A;
	height:120px;
}
.headleft {
	float: left;
	width: 310px;
	margin-right: 50px;
	margin-left: 20px;
}
.headleft h2 {
	font-family: Georgia;
	font-size: 32px;
	color: #FFFFFF;
	margin-top: 40px;
	font-weight:normal;
}
.headleft p{color:#D2D2D2;}

.mainmenu {
	float: right;
	width: 600px;
	margin-right: 15px;
	margin-top: 30px;
}

.mainmenu ul{margin:0; padding:0; list-style:none;}
.mainmenu ul li{float:left; display:block;}
.mainmenu ul li a {
	color: #D2D2D2;
	padding: 15px 10px 10px;
	margin: 5ppx;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	display:block;
	border-top:2px solid transparent;
}

.mainmenu ul li a:hover, #active{border-top:2px solid #3E0D09; color:#3E0D09;}

.mainmenu ul li a span {
	font-family: arial;
	color: #999999;
	font-size: 12px;
	text-transform: lowercase;
	display: block;
}

.bannersection {
	background: #3E0D09;
	height: 300px;
	position: relative;
}
.bannerleft{width:500px; margin-left:20px; margin-right:20px; float:left;}
.bannerleft h1 {
	font-family: Georgia;
	font-size: 46px;
	color: #fff;
	font-weight: normal;
	line-height: 48px;
}
.bannerleft p {
	color: #fff;
	font-size: 14px;
	line-height: 22px;
}


.bannerright {
	width: 420px;
	margin-right: 20px;
	float: right;
	margin-top: 30px;
}
.bannerright img {
	float: left;
	margin-bottom: 8px;
	margin-left: 8px;
}
.contentsection{background:#E4DFCB; height:340px;}
.maincontent {
	background: #FFFFFF;
	width: 918px;
	height: 355px;
	margin: 0 auto;
	position: absolute;
	margin-top: -40px;
	margin-left: 40px;
}

.samearticle {
	width: 266px;
	float: left;
	padding: 20px;
}
.samearticle img{}
.samearticle h2 {
	font-family: Georgia;
	font-size: 18px;
	color: #660000;
	border-bottom: 1px solid #B2B2B2;
	padding-top: 5px;
	margin-bottom: 5px;
}
.samearticle ul{margin: 0px;}
.samearticle ul li {
	padding-bottom: 5px;
}
.samearticle p {
	margin: 0px;
}
.samearticle h4{}

.footertop{background:#CEC6A2;}
.contactsection {
	width: 350px;
	margin: 0 20px;
	float: left;
	margin-bottom: 25px;
}
.contactsection h2 {
	font-family: Georgia;
	font-size: 22px;
	border-bottom: 1px solid #807C6A;
	padding-bottom: 12px;
	margin-bottom: 5px;
	color: #333333;
}
.contactsection p {
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}
.textinput {
	float: left;
	margin-right: 13px;
}
.contactsection input[type="text"] {
	padding: 4px;
	border: 1px solid #fff;
	margin-right: 20px;
	width: 158px;
}
.contactsection input[type="email"] {
	padding: 4px;
	border: 1px solid #fff;
	width: 158px;
}

.contactsection textarea {
	width: 350px;
	height: 88px;
	border: 1px solid #fff;
}
.contactsection input[type="submit"] {
	background: #fff;
	border: medium none;
	padding: 8px 15px;
	font-size: 14px;
	margin-right:10px;
}
.contactsection input[type='reset']{
	background: #fff;
	border: medium none;
	padding: 8px 15px;
	font-size: 14px
}

.postsection {
	width: 584px;
	margin-right: 20px;
	float: right;
}
.allpost{}
.samepost {
	width: 180px;
	float: left;
	margin-left: 14px;
}
.samepost h2 {
	font-family: Georgia;
	color: #333333;
	font-size: 22px;
	border-bottom: 1px solid #807C6A;
	padding-bottom: 12px;
	margin-bottom: 5px;
	font-weight: normal;
}
.samepost p{}

.subscribe{}
.subscribe p {
	width: 250px;
	background: #fff;
	float: left;
	padding: 5px 10px;
	margin-left: 16px;
}
.lastinput {
	float: left;
	width: 294px;
}
.lastinput input[type="text"] {
	margin-left: 10px;
	margin-top: 12px;
	border: 1px solid #fff;
	padding: 5px;
	width: 237px;
}
.lastinput input[type="submit"] {
	background: #fff;
	border: 1px solid #fff;
	padding: 5px;
}
.footsection{
	background:#250705;
}
.footleft {
	width: 600px;
	float: left;
	margin-left: 20px;
}
.footleft p{
	padding: 8px 0px;
}
.footright {
	width: 300px;
	float: right;
	margin-right: 20px;
}
.footright p {
	padding: 8px 0px;
	float:right;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
